body {
	color: #333;
}

.site-box {
	margin: 0 auto;
	width: 800px;
}
.site-type {
	font-size: 22px;
    border-bottom: 1px solid #f60;
    float: left;
    padding: 8px 8px;
    clear: both;
    margin-bottom: 30px;
}
.site-container {
	padding: 10px 0px;
	width: 800px;
	clear: both;
}
.code-example__pre{
	clear: both;
    padding-top: 40px;
    display: block;
    float: left;
    margin-left: -78px;
}