.content {
  margin: 50px auto;
  width: 1180px;
  height: 100%;
}
.kuma-button {
  margin-left: 50%;
}
.kuma-label {
  width: 100px;
}
#box2 {
  float: left;
  width: 600px;
}
#box3 {
  float: left;
  width: 700px;
}
tr {
  border-bottom: 1px solid #666;
  height: 40px;
}
td {
  width: 300px;
}
input[type='text'] {
  min-width: 200px;
  height: 30px;
  line-height: 30px;
}
