// @import "../node_modules/uxcore-kuma/src/variables";
@import '../style/kuma-base/theme/orange.less';
@import '../style/kuma-base/core.less';

@label-padding-right: 20px;
@arrow-down-content: '\e614';
@arrow-up-content: '\e613';
@import "../src/Form.less";

#UXCoreDemo {
    background: #ccc;
}
.demo {
    width: 1000px;
    margin: 0 auto;
    background: white;
}

