@import '../node_modules/kuma-base/theme/orange.less';
@import "../src/Form.less";


#UXCoreDemo {
    background: #eee;
}
.demo {
    width: 1040px;
    margin: 0 auto;
    background: #eee;
    padding: 0 20px;
}


